{% extends 'base.html.twig' %}

{% block body %}
    
<h1>Test 2</h1>

    {{ form_start(form) }}
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}

        {{ form_label(form.price) }}
        {{ form_widget(form.price) }}

        <button class="btn waves-effect waves-light" type="submit" name="action">Ajouter
        </button>
    {{ form_end(form) }}
{% endblock %}